.combo-box-popup .list-view {
    -fx-font-size: 13pt;
    -fx-background-insets: 0, 1;
}

.combo-box-popup .list-view .list-cell {
    -fx-padding: 4 0 4 5;
}

.combo-box {
    -fx-font-size: 13pt;
}